<% if admin_signed_in? %>
<div class = "border border-dark col-md-5 col-10 mx-2 mx-sm-auto text-center rounded px-1 my-5">
<h1>お店新規登録</h1>

<% if @shop.errors.any? %>
  <h3><%= @shop.errors.count %>errors prohibited this obj from being saved: </h3>
  <ul>
    <% @shop.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @shop, url: admin_shops_path do |f| %>

  <h3>ジャンル選択</h3>
    <h4>
        <!--ジャンルボタン（複数選択可）-->
      <%= f.collection_check_boxes(:genre_ids, Genre.all, :id, :name) do |b| %>
            <%= b.label { b.check_box + b.text } %>
      <% end %>
      <!---->
    </h4>

    <h3>店名</h3>
      <%= f.text_field :name, :size=>"60" %>
    <h3>お店のURL</h3>
      <%= f.text_area :site_url, :size=>"60"%>
    <h3>郵便番号</h3>
      <%= f.text_field :postal_code %>
    <h3>住所</h3>
    <%= f.text_area :address, :size=>"60" %>
    <h3>電話番号</h3>
      <%= f.text_field :telephone_number %>

    <div class="m-2">
      <%= f.submit '追加', class:"btn btn-success button" %>
    </div>
<% end %>
</div>
<% else %>
  <div class="d-flex justify-content-center">
    <div class="mx-5">
      <h2>このページは表示できません</h2>
    </div>
  </div>
<% end %>
