
<div class = "border border-dark col-md-5 col-sm-10 mx-2 mx-sm-auto text-center rounded px-1 my-5">
<%= render "user/shared/error_messages", resource: resource %>


<h1>新規登録</h1>

<%= form_with model: @user, url: user_registration_path  do |f| %>



  <div class="field">
    <label>ニックネーム</label><br />
    <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname" %>
  </div>

  <div class="field">
    <label>メールアドレス</label><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <a><label>パスワード(６文字以上)</label>
    <% if @minimum_password_length %>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <label>パスワード（確認用）</label><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>

<% end %>
</div>









