<div class = "border border-dark col-md-5 col-sm-10 mx-2 mx-sm-auto text-center rounded px-1 my-5">
<h1>登録情報編集</h1>


<%= form_with model: @user, url: customer_path(@user) do |f| %>

      <p><label for="inputName" class="field">ニックネーム</label>
            <%= f.text_field :nickname, autofocus: true, id:"inputLastnickname", placeholder:"ニックネーム"%>
      </p>

      <p><label for="inputName" class="field">メールアドレス</label>
            <%= f.text_field :email, autofocus: true, id:"inputLastemail", placeholder:"メールアドレス"%>
      </p>

      <p><label for="inputName" class="field">自己紹介文</label>
            <%= f.text_area :testimonials, autofocus: true, id:"inputLastemail", placeholder:"自己紹介文", class: 'form-control',size: "10x5"%>
      </p>

<div class="actions">
<%= f.submit "編集内容を保存", class:"btn btn-success" %>
</div>
<% end %>
</div>

