<h2>アクティビティ</h2>

<!--マップ表示-->

<div id='map'></div>

<style>
#map {
  height: 750px;
  width: 1000px;
}
</style>

<script>
let map

function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 35.171075437602035, lng:136.88147969620726},
    zoom: 12,
  });

  marker = new google.maps.Marker({
    position:  {lat: 35.171075437602035, lng:136.88147969620726},
    map: map
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOhgWbMy8MLeF0mPpDoTHzaCzf14btmt4&callback=initMap" async defer></script>
<!---->

<% @shops.each do |shop| %>

<h4>
  <p>
    名前：<a href=<%= shop.site_url%> target="_blank"><%= shop.name %></a>
    郵便番号：<%= shop.postal_code %>
    住所： <%= shop.address %>
    電話番号: <%= shop.telephone_number %>
  </p>
</h4>

<% end %>