<h2>ショッピングモール</h2>

<!--検索フォーム-->
<input id="address" type="textbox"  placeholder="住所検索">
<input type="button" value="検索" onclick="codeAddress()">
<!---->

<!--マップ表示-->
<div id='map'></div>

<style>
#map {
  height: 750px;
  width: 1000px;
}
</style>

<script>
var map

function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    zoom: 14,
    center: {lat: 35.171075437602035, lng:136.88147969620726},
  });


  <% @shops.each do |shop| %>
    <% if shop.lat && shop.lon %>
      (function(){
        var contentString = "住所：<%= shop.address %>";

            var marker = new google.maps.Marker({
                position:{lat: <%= shop.lat %>, lng: <%= shop.lon %>},
                map: map,
                title: contentString
            });

            })();
    <% end %>
  <% end %>
}

var geocoder

//検索フォームのボタンが押された時に実行される
function codeAddress(){
  //検索フォームの入力内容を取得
  let inputAddress = document.getElementById('address').value;


// 住所検索
  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    //該当する検索結果がヒットした時に、地図の中心を検索結果の緯度経度に更新する
    if (status == 'OK') {

      map.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
      display.textContent = "検索結果：" + results[ 0 ].geometry.location
    } else {
      //検索結果が何もなかった場合に表示
      alert('該当する結果がありませんでした：' + status);
    }
  });
}


</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOhgWbMy8MLeF0mPpDoTHzaCzf14btmt4&callback=initMap" async defer></script>
<!---->

<% @shops.each do |shop| %>
<h4>
  <p>
    <a href=<%= shop.site_url%> target="_blank"><%= shop.name %></a>
    郵便番号：<%= shop.postal_code %>
    住所： <%= shop.address %>
    電話番号: <%= shop.telephone_number %>
    <% if user_signed_in? %>
      <% if current_user.already_revued?(shop) %>
      　<!--お気に入り-->
        <%= button_to shop_revues_path(shop), method: :delete, style: "border: none; background: transparent"  do %>
           <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
        <% end %>
      <% else %>
        <!--お気に入り取り消し-->
        <%= button_to shop_revues_path(shop), method: :post, style: "border: none; background: transparent" do %>
          <i class="fa-regular fa-star"></i>
        <% end %>
      <% end %>
      <% end %>
  </p>

</h4>

<% end %>