<h1>お気に入り店一覧</h1>

<div class="d-flex bd-highlight">

  <div class="p-2 flex-fill bd-highlight">
    <!--マップ表示-->
    <div class="border border-bark ">
      <div id='map'></div>
    </div>
  </div>

  <div class="container mt-3 overflow-auto  flex-fill bd-highlight"style="height:700px;">
    <% @revues.each do |revue| %>
      <div class="border rounded border-dark p-2 my-2 h4">
          <span class="border border-dark ">
            <% revue.shop.genres.each do |genre| %>
            <%= genre.name %>
          </span>
          <% end %>
          <p class="mb-3"><a href=<%= revue.shop.site_url%> target="_blank"><%= revue.shop.name %></a>
          <% if user_signed_in? %>
              <% if current_user.already_revued?(revue.shop) %>
            　  <!--お気に入り-->
                <%= button_to shop_revues_path(revue.shop), method: :delete, style: "border: none; background: transparent"  do %>
                  <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
              <% end %>
              <% else %>
                <!--お気に入り取り消し-->
                <%= button_to shop_revues_path(revue.shop), method: :post, style: "border: none; background: transparent" do %>
                  <i class="fa-regular fa-star"></i>
              <% end %>
            <% end %>
            <% end %>
          </p>
          <p>郵便番号：<%= revue.shop.postal_code %></p>
          <p>住所： <%= revue.shop.address %></p>
          <p>電話番号: <%= revue.shop.telephone_number %></p>

            </div>
            <% end %>

</div>
</div>



<style>
#map {
  height: 700px;
  width: 1000px;
}
</style>

<script>
let map

function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    zoom: 14,
    center: {lat: 35.171075437602035, lng:136.88147969620726},
  });

 <% @revues.each do |revue| %>
    <% if revue.shop.lat && revue.shop.lon %>
    (function(){
      var contentString = "<%= revue.shop.name %> 住所：<%= revue.shop.address %>";

          var marker = new google.maps.Marker({
              position:{lat: <%= revue.shop.lat %>, lng: <%= revue.shop.lon %>},
              map: map,
              title: contentString
          });

          })();
    <% end %>
  <% end %>
}

var geocoder

//検索フォームのボタンが押された時に実行される
function codeAddress(){
  //検索フォームの入力内容を取得
  let inputAddress = document.getElementById('address').value;


// 住所検索
  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    //該当する検索結果がヒットした時に、地図の中心を検索結果の緯度経度に更新する
    if (status == 'OK') {

      map.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
      display.textContent = "検索結果：" + results[ 0 ].geometry.location
    } else {
      //検索結果が何もなかった場合に表示
      alert('該当する結果がありませんでした：' + status);
    }
  });
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOhgWbMy8MLeF0mPpDoTHzaCzf14btmt4&callback=initMap" async defer></script>
<!---->
