<div class="ets-background">
<div class="d-flex justify-content-center h1">
  <div class="bg-white">
    <%= @user.nickname %>さんの詳細
  </div>
</div>

<div class="d-flex justify-content-center">
  <div class="p-2 bd-highlight">
    <div class="mr-3 h3 bg-white" style="width:500px;">
      <table class="table">
        <tbody>
          <tr>
            <td class="table-active">名前</td>
            <td><%= @user.nickname %></td>
          </tr>
          <tr>
            <td class="table-active">自己紹介文</td>
            <td><%= @user.testimonials %></td>
          </tr>
        </tbody>
      </table>

      <% if current_user.user_following?(@user) %>
        <%= link_to "フォロー外す", user_follows_path(@user), method: :delete %>
      <% else %>
        <%= link_to "フォローする", user_follows_path(@user), method: :post %>
      <% end %>

    </div>
  </div>

  <div class=" mt-3 overflow-auto bd-highlight">
    <div class="bg-white">
      <h2>投稿一覧</h2>
    </div>

    <div class=" mt-3 overflow-auto bd-highlight" style="height:600px;">
    <% @tweets.each do |tweet| %>
      <div class="border rounded border-dark p-2 my-2 h4 bg-white"style="width:500px;">
      <h4>

          <%= image_tag tweet.get_image(200,200) %>
          <div class="font-weight-bold">
            <%= tweet.sub_sentence %>
          </div>
          <% if current_user.already_niced?(tweet) %>
          　<!--いいね-->
            <%= button_to tweet_nices_path(tweet), method: :delete, style: "border: none; background: transparent"  do %>
             <i class="fa-solid fa-heart" style="color: #ff0026;"></i>
            <% end %>
          <% else %>
            <!--いいね取り消し-->
            <%= button_to tweet_nices_path(tweet), method: :post, style: "border: none; background: transparent" do %>
            <i class="fa-regular fa-heart" style="color: #808080;"></i>
            <% end %>
          <% end %>
          <%= tweet.nices.count %>
          <h6><%= tweet.created_at.strftime('%Y/%m/%d') %></h6>
      </h4>
      </div>
    <% end %>
    </div>
  </div>
</div>
</div>
