<h2>みんなの投稿</h2>

<% @tweets.each do |tweet| %>

<h4>
    <%= link_to tweet.user.nickname, customer_other_users_path %>
    <%= image_tag tweet.get_image(200,200) %>
    <%= tweet.sub_sentence %>
    <% if current_user.already_niced?(tweet) %>
      <%= link_to tweet_nices_path(tweet), method: :delete do %>
      <i class="fa-regular fa-heart" style="color: #808080;"></i>
      <% end %>
    <% else %>
      <%= link_to tweet_nices_path(tweet) do %>
        <i class="fa-solid fa-heart" style="color: #ff0026;"></i>
        <%= tweet.nices.count %>
        <% end %>
    <% end %>
    <h6><%= tweet.created_at.strftime('%Y/%m/%d') %></h6>
</h4>

<% end %>