<h2>みんなの投稿</h2>

<% @tweets.each do |tweet| %>

<h4>
    <%= link_to tweet.user.nickname, customer_other_users_path %>
    <%= image_tag tweet.get_image(200,200) %>
    <%= tweet.sub_sentence %>
    <% if current_user.already_niced?(tweet) %>
      <%= button_to 'いいねを取り消す', tweet_nices_path(tweet), method: :delete %>
    <% else %>
      <%= button_to 'いいね', tweet_nices_path(tweet) %>
    <% end %>
    <h6><%= tweet.created_at.strftime('%Y/%m/%d') %></h6>
</h4>

<% end %>