<!DOCTYPE html>
<html>
  <head>
    <title>Inugo</title>
    <meta name="viewport"  content="width=device-width, height=500px ,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/7c1e3d1426.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
   <nav class="navbar mb-4 p-0">
    <% if user_signed_in? %>



       <% if request.fullpath == "/customer/my_page" %>

       <div class="app-logo-wrapper d-flex justify-content-between mb-0">
        <div class="d-flex flex-row">

       <div class="mt-5 bd-highlight">
        <%= link_to nices_index_path, class: "btn btn-sm nav-link text-dark btn-outline-secondary", data: {"turbolinks" => false} do %>
        <h4>
         いいね一覧
        </h4>
        <% end %>
       </div>

       <div class="mt-5 bd-highlight">
        <%= link_to favorite_path, class: "btn btn-sm nav-link text-dark btn-outline-secondary", data: {"turbolinks" => false} do %>
       <h4>
        お気に入り店一覧
       </h4>
       <% end %>
       </div>

       <div class="mt-5 bd-highlight">
        <%= link_to followings_user_path(current_user), class: "btn btn-sm nav-link text-dark btn-outline-secondary", data: {"turbolinks" => false} do %>
       <h4>
        フォロー一覧
       </h4>
       <% end %>
      </div>
     </div>
     </div>

        <div class="app-logo">
       <!--CSSで真ん中にアブソルートする-->
         <%= link_to shops_accommodation_path, data: {"turbolinks" => false} do %>
         <%= image_tag("inugo_logo.png", size: '160x130') %>
         <% end %>
       </div>

        <!--data: {"turbolinks" => false}  ターボリンクスを使う-->

       <div class=" d-flex flex-row">

       <div class="mt-5 bd-highlight">
        <%= link_to inquiries_path, class: "btn btn-sm nav-link text-dark btn-outline-secondary", data: {"turbolinks" => false} do %>
       <h4>
        問い合わせ
       </h4>
       <% end %>
       </div>

       <div class="mt-5 bd-highlight">
        <%= link_to customer_my_page_path, class: "btn btn-sm nav-link text-dark btn-outline-secondary", data: {"turbolinks" => false} do %>
       <h4>
        マイページ
       </h4>
       <% end %>
       </div>

       <div class="mt-5 bd-highlight">
       <h4>
         <%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-lg text-dark btn-outline-danger" %>
       </h4>
        </div>

       </div>



       <% elsif request.fullpath == "/users/:user_id/follows" %>

       <div class="app-logo-wrapper d-flex justify-content-between mb-0">
        <div class="d-flex flex-row">

       <div class="mt-5 bd-highlight">
        <%= link_to nices_index_path, class: "btn btn-sm nav-link text-dark btn-outline-secondary", data: {"turbolinks" => false} do %>
        <h4>
         いいね一覧
        </h4>
        <% end %>
       </div>

       <div class="mt-5 bd-highlight">
        <%= link_to favorite_path, class: "btn btn-sm nav-link text-dark btn-outline-secondary", data: {"turbolinks" => false} do %>
       <h4>
        お気に入り店一覧
       </h4>
       <% end %>
       </div>

       <div class="mt-5 bd-highlight">
        <%= link_to followings_user_path(current_user), class: "btn btn-sm nav-link text-dark btn-outline-secondary", data: {"turbolinks" => false} do %>
       <h4>
        フォロー一覧
       </h4>
       <% end %>
      </div>
     </div>
     </div>

        <div class="app-logo">
       <!--CSSで真ん中にアブソルートする-->
         <%= link_to shops_accommodation_path, data: {"turbolinks" => false} do %>
         <%= image_tag("inugo_logo.png", size: '160x130') %>
         <% end %>
       </div>

        <!--data: {"turbolinks" => false}  ターボリンクスを使う-->

       <div class=" d-flex flex-row">

       <div class="mt-5 bd-highlight">
        <%= link_to inquiries_path, class: "btn btn-sm nav-link text-dark btn-outline-secondary", data: {"turbolinks" => false} do %>
       <h4>
        問い合わせ
       </h4>
       <% end %>
       </div>

       <div class="mt-5 bd-highlight">
        <%= link_to customer_my_page_path, class: "btn btn-sm nav-link text-dark btn-outline-secondary", data: {"turbolinks" => false} do %>
       <h4>
        マイページ
       </h4>
       <% end %>
       </div>

       <div class="mt-5 bd-highlight">
       <h4>
         <%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-lg text-dark btn-outline-danger" %>
       </h4>
        </div>

       </div>

       <% elsif request.fullpath == "/nices_index" %>

       <div class="app-logo-wrapper d-flex justify-content-between mb-0">
        <div class="d-flex flex-row">

       <div class="mt-5 bd-highlight">
        <%= link_to nices_index_path, class: "btn btn-sm nav-link text-dark btn-outline-secondary", data: {"turbolinks" => false} do %>
        <h4>
         いいね一覧
        </h4>
        <% end %>
       </div>

       <div class="mt-5 bd-highlight">
        <%= link_to favorite_path, class: "btn btn-sm nav-link text-dark btn-outline-secondary", data: {"turbolinks" => false} do %>
       <h4>
        お気に入り店一覧
       </h4>
       <% end %>
       </div>

       <div class="mt-5 bd-highlight">
        <%= link_to followings_user_path(current_user), class: "btn btn-sm nav-link text-dark btn-outline-secondary", data: {"turbolinks" => false} do %>
       <h4>
        フォロー一覧
       </h4>
       <% end %>
      </div>
     </div>
     </div>

        <div class="app-logo">
       <!--CSSで真ん中にアブソルートする-->
         <%= link_to shops_accommodation_path, data: {"turbolinks" => false} do %>
         <%= image_tag("inugo_logo.png", size: '160x130') %>
         <% end %>
       </div>

        <!--data: {"turbolinks" => false}  ターボリンクスを使う-->

       <div class=" d-flex flex-row">

       <div class="mt-5 bd-highlight">
        <%= link_to inquiries_path, class: "btn btn-sm nav-link text-dark btn-outline-secondary", data: {"turbolinks" => false} do %>
       <h4>
        問い合わせ
       </h4>
       <% end %>
       </div>

       <div class="mt-5 bd-highlight">
        <%= link_to customer_my_page_path, class: "btn btn-sm nav-link text-dark btn-outline-secondary", data: {"turbolinks" => false} do %>
       <h4>
        マイページ
       </h4>
       <% end %>
       </div>

       <div class="mt-5 bd-highlight">
       <h4>
         <%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-lg text-dark btn-outline-danger" %>
       </h4>
        </div>

       </div>

       <% elsif request.fullpath == "/inquiries" %>

       <div class="app-logo-wrapper d-flex justify-content-between mb-0">
        <div class="d-flex flex-row">

       <div class="mt-5 bd-highlight">
        <%= link_to nices_index_path, class: "btn btn-sm nav-link text-dark btn-outline-secondary", data: {"turbolinks" => false} do %>
        <h4>
         いいね一覧
        </h4>
        <% end %>
       </div>

       <div class="mt-5 bd-highlight">
        <%= link_to favorite_path, class: "btn btn-sm nav-link text-dark btn-outline-secondary", data: {"turbolinks" => false} do %>
       <h4>
        お気に入り店一覧
       </h4>
       <% end %>
       </div>

       <div class="mt-5 bd-highlight">
        <%= link_to followings_user_path(current_user), class: "btn btn-sm nav-link text-dark btn-outline-secondary", data: {"turbolinks" => false} do %>
       <h4>
        フォロー一覧
       </h4>
       <% end %>
      </div>
     </div>
     </div>

        <div class="app-logo">
       <!--CSSで真ん中にアブソルートする-->
         <%= link_to shops_accommodation_path, data: {"turbolinks" => false} do %>
         <%= image_tag("inugo_logo.png", size: '160x130') %>
         <% end %>
       </div>

        <!--data: {"turbolinks" => false}  ターボリンクスを使う-->

       <div class=" d-flex flex-row">

       <div class="mt-5 bd-highlight">
        <%= link_to inquiries_path, class: "btn btn-sm nav-link text-dark btn-outline-secondary", data: {"turbolinks" => false} do %>
       <h4>
        問い合わせ
       </h4>
       <% end %>
       </div>

       <div class="mt-5 bd-highlight">
        <%= link_to customer_my_page_path, class: "btn btn-sm nav-link text-dark btn-outline-secondary", data: {"turbolinks" => false} do %>
       <h4>
        マイページ
       </h4>
       <% end %>
       </div>

       <div class="mt-5 bd-highlight">
       <h4>
         <%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-lg text-dark btn-outline-danger" %>
       </h4>
        </div>

       </div>


        <% elsif request.fullpath == "/thanks" %>

       <div class="app-logo-wrapper d-flex justify-content-between mb-0">
        <div class="d-flex flex-row">

       <div class="mt-5 bd-highlight">
        <%= link_to nices_index_path, class: "btn btn-sm nav-link text-dark btn-outline-secondary", data: {"turbolinks" => false} do %>
        <h4>
         いいね一覧
        </h4>
        <% end %>
       </div>

       <div class="mt-5 bd-highlight">
        <%= link_to favorite_path, class: "btn btn-sm nav-link text-dark btn-outline-secondary", data: {"turbolinks" => false} do %>
       <h4>
        お気に入り店一覧
       </h4>
       <% end %>
       </div>

       <div class="mt-5 bd-highlight">
        <%= link_to followings_user_path(current_user), class: "btn btn-sm nav-link text-dark btn-outline-secondary", data: {"turbolinks" => false} do %>
       <h4>
        フォロー一覧
       </h4>
       <% end %>
      </div>
     </div>
     </div>

        <div class="app-logo">
       <!--CSSで真ん中にアブソルートする-->
         <%= link_to shops_accommodation_path, data: {"turbolinks" => false} do %>
         <%= image_tag("inugo_logo.png", size: '160x130') %>
         <% end %>
       </div>

        <!--data: {"turbolinks" => false}  ターボリンクスを使う-->

       <div class=" d-flex flex-row">

       <div class="mt-5 bd-highlight">
        <%= link_to inquiries_path, class: "btn btn-sm nav-link text-dark btn-outline-secondary", data: {"turbolinks" => false} do %>
       <h4>
        問い合わせ
       </h4>
       <% end %>
       </div>

       <div class="mt-5 bd-highlight">
        <%= link_to customer_my_page_path, class: "btn btn-sm nav-link text-dark btn-outline-secondary", data: {"turbolinks" => false} do %>
       <h4>
        マイページ
       </h4>
       <% end %>
       </div>

       <div class="mt-5 bd-highlight">
       <h4>
         <%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-lg text-dark btn-outline-danger" %>
       </h4>
        </div>

       </div>


        <% elsif request.fullpath == "/everyone_tweet" %>

       <div class="app-logo-wrapper d-flex justify-content-between mb-0">
        <div class="d-flex flex-row">

       <div class="mt-5 bd-highlight">
        <%= link_to nices_index_path, class: "btn btn-sm nav-link text-dark btn-outline-secondary", data: {"turbolinks" => false} do %>
        <h4>
         いいね一覧
        </h4>
        <% end %>
       </div>

       <div class="mt-5 bd-highlight">
        <%= link_to favorite_path, class: "btn btn-sm nav-link text-dark btn-outline-secondary", data: {"turbolinks" => false} do %>
       <h4>
        お気に入り店一覧
       </h4>
       <% end %>
       </div>

       <div class="mt-5 bd-highlight">
        <%= link_to followings_user_path(current_user), class: "btn btn-sm nav-link text-dark btn-outline-secondary", data: {"turbolinks" => false} do %>
       <h4>
        フォロー一覧
       </h4>
       <% end %>
      </div>
     </div>
     </div>

        <div class="app-logo">
       <!--CSSで真ん中にアブソルートする-->
         <%= link_to shops_accommodation_path, data: {"turbolinks" => false} do %>
         <%= image_tag("inugo_logo.png", size: '160x130') %>
         <% end %>
       </div>

        <!--data: {"turbolinks" => false}  ターボリンクスを使う-->

       <div class=" d-flex flex-row">

       <div class="mt-5 bd-highlight">
        <%= link_to inquiries_path, class: "btn btn-sm nav-link text-dark btn-outline-secondary", data: {"turbolinks" => false} do %>
       <h4>
        問い合わせ
       </h4>
       <% end %>
       </div>

       <div class="mt-5 bd-highlight">
        <%= link_to customer_my_page_path, class: "btn btn-sm nav-link text-dark btn-outline-secondary", data: {"turbolinks" => false} do %>
       <h4>
        マイページ
       </h4>
       <% end %>
       </div>

       <div class="mt-5 bd-highlight">
       <h4>
         <%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-lg text-dark btn-outline-danger" %>
       </h4>
        </div>

       </div>


        <% elsif request.fullpath == "/nices_index" %>

         <div class="app-logo-wrapper d-flex justify-content-between mb-0">
        <div class="d-flex flex-row">

       <div class="mt-5 bd-highlight">
        <%= link_to nices_index_path, class: "btn btn-sm nav-link text-dark btn-outline-secondary", data: {"turbolinks" => false} do %>
        <h4>
         いいね一覧
        </h4>
        <% end %>
       </div>

       <div class="mt-5 bd-highlight">
        <%= link_to favorite_path, class: "btn btn-sm nav-link text-dark btn-outline-secondary", data: {"turbolinks" => false} do %>
       <h4>
        お気に入り店一覧
       </h4>
       <% end %>
       </div>

       <div class="mt-5 bd-highlight">
        <%= link_to followings_user_path(current_user), class: "btn btn-sm nav-link text-dark btn-outline-secondary", data: {"turbolinks" => false} do %>
       <h4>
        フォロー一覧
       </h4>
       <% end %>
      </div>
     </div>
     </div>

        <div class="app-logo">
       <!--CSSで真ん中にアブソルートする-->
         <%= link_to shops_accommodation_path, data: {"turbolinks" => false} do %>
         <%= image_tag("inugo_logo.png", size: '160x130') %>
         <% end %>
       </div>

        <!--data: {"turbolinks" => false}  ターボリンクスを使う-->

       <div class=" d-flex flex-row">

       <div class="mt-5 bd-highlight">
        <%= link_to inquiries_path, class: "btn btn-sm nav-link text-dark btn-outline-secondary", data: {"turbolinks" => false} do %>
       <h4>
        問い合わせ
       </h4>
       <% end %>
       </div>

       <div class="mt-5 bd-highlight">
        <%= link_to customer_my_page_path, class: "btn btn-sm nav-link text-dark btn-outline-secondary", data: {"turbolinks" => false} do %>
       <h4>
        マイページ
       </h4>
       <% end %>
       </div>

       <div class="mt-5 bd-highlight">
       <h4>
         <%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-lg text-dark btn-outline-danger" %>
       </h4>
        </div>

       </div>

        <% elsif request.fullpath == "/favorite" %>

         <div class="app-logo-wrapper d-flex justify-content-between mb-0">
        <div class="d-flex flex-row">

       <div class="mt-5 bd-highlight">
        <%= link_to nices_index_path, class: "btn btn-sm nav-link text-dark btn-outline-secondary", data: {"turbolinks" => false} do %>
        <h4>
         いいね一覧
        </h4>
        <% end %>
       </div>

       <div class="mt-5 bd-highlight">
        <%= link_to favorite_path, class: "btn btn-sm nav-link text-dark btn-outline-secondary", data: {"turbolinks" => false} do %>
       <h4>
        お気に入り店一覧
       </h4>
       <% end %>
       </div>

       <div class="mt-5 bd-highlight">
        <%= link_to followings_user_path(current_user), class: "btn btn-sm nav-link text-dark btn-outline-secondary", data: {"turbolinks" => false} do %>
       <h4>
        フォロー一覧
       </h4>
       <% end %>
      </div>
     </div>
     </div>

        <div class="app-logo">
       <!--CSSで真ん中にアブソルートする-->
         <%= link_to shops_accommodation_path, data: {"turbolinks" => false} do %>
         <%= image_tag("inugo_logo.png", size: '160x130') %>
         <% end %>
       </div>

        <!--data: {"turbolinks" => false}  ターボリンクスを使う-->

       <div class=" d-flex flex-row">

       <div class="mt-5 bd-highlight">
        <%= link_to inquiries_path, class: "btn btn-sm nav-link text-dark btn-outline-secondary", data: {"turbolinks" => false} do %>
       <h4>
        問い合わせ
       </h4>
       <% end %>
       </div>

       <div class="mt-5 bd-highlight">
        <%= link_to customer_my_page_path, class: "btn btn-sm nav-link text-dark btn-outline-secondary", data: {"turbolinks" => false} do %>
       <h4>
        マイページ
       </h4>
       <% end %>
       </div>

       <div class="mt-5 bd-highlight">
       <h4>
         <%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-lg text-dark btn-outline-danger" %>
       </h4>
        </div>

       </div>



       <% elsif request.fullpath == followings_user_path(current_user) %>

         <div class="app-logo-wrapper d-flex justify-content-between mb-0">
        <div class="d-flex flex-row">

       <div class="mt-5 bd-highlight">
        <%= link_to nices_index_path, class: "btn btn-sm nav-link text-dark btn-outline-secondary", data: {"turbolinks" => false} do %>
        <h4>
         いいね一覧
        </h4>
        <% end %>
       </div>

       <div class="mt-5 bd-highlight">
        <%= link_to favorite_path, class: "btn btn-sm nav-link text-dark btn-outline-secondary", data: {"turbolinks" => false} do %>
       <h4>
        お気に入り店一覧
       </h4>
       <% end %>
       </div>

       <div class="mt-5 bd-highlight">
        <%= link_to followings_user_path(current_user), class: "btn btn-sm nav-link text-dark btn-outline-secondary", data: {"turbolinks" => false} do %>
       <h4>
        フォロー一覧
       </h4>
       <% end %>
      </div>
     </div>
     </div>

        <div class="app-logo">
       <!--CSSで真ん中にアブソルートする-->
         <%= link_to shops_accommodation_path, data: {"turbolinks" => false} do %>
         <%= image_tag("inugo_logo.png", size: '160x130') %>
         <% end %>
       </div>

        <!--data: {"turbolinks" => false}  ターボリンクスを使う-->

       <div class=" d-flex flex-row">

       <div class="mt-5 bd-highlight">
        <%= link_to inquiries_path, class: "btn btn-sm nav-link text-dark btn-outline-secondary", data: {"turbolinks" => false} do %>
       <h4>
        問い合わせ
       </h4>
       <% end %>
       </div>

       <div class="mt-5 bd-highlight">
        <%= link_to customer_my_page_path, class: "btn btn-sm nav-link text-dark btn-outline-secondary", data: {"turbolinks" => false} do %>
       <h4>
        マイページ
       </h4>
       <% end %>
       </div>

       <div class="mt-5 bd-highlight">
       <h4>
         <%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-lg text-dark btn-outline-danger" %>
       </h4>
        </div>

       </div>


       <% else %>
       <div class="app-logo-wrapper d-flex justify-content-between mb-0">
        <div class="d-flex flex-row">

          <div class="mt-5 bd-highlight">
            <%= link_to shops_accommodation_path, class: "btn btn-sm nav-link text-dark btn-outline-primary " , data: {"turbolinks" => false} do %>
             <h4>
                宿泊施設
             </h4>
            <% end %>
          </div>

          <div class="mt-5 bd-highlight ">
            <%= link_to shops_shopping_mall_path, class: "btn btn-sm nav-link text-dark btn-outline-warning", data: {"turbolinks" => false} do %>
            <h4>
             ショッピングモール
            </h4>
            <% end %>
          </div>

          <div class="mt-5 bd-highlight ">
            <%= link_to shops_activity_path, class: "btn btn-sm nav-link text-dark btn-outline-success", data: {"turbolinks" => false} do %>
            <h4>
             アクティビティ
            </h4>
            <% end %>
          </div>

         </div>
       </div>

       <div class="app-logo">
       <!--CSSで真ん中にアブソルートする-->
         <%= link_to shops_accommodation_path, data: {"turbolinks" => false} do %>
         <%= image_tag("inugo_logo.png", size: '160x130') %>
         <% end %>
       </div>

      <div class=" d-flex flex-row">

        <div class="mt-5 bd-highlight">
          <%= link_to customer_my_page_path, class: "btn btn-sm nav-link text-dark btn-outline-info" do%>
          <h4>
          マイページ
          </h4>
          <% end %>
        </div>

        <div class="mt-5 bd-highlight">
         <h4>
          <%= button_to "ログアウト", destroy_user_session_path, method: :delete , class: "btn btn-lg text-dark btn-outline-danger"%>
         </h4>
         <% end %>
        </div>

      </div>


      <% elsif admin_signed_in? %>
      <p class="text-sm-center">管理者専用 </p>
       <button class="btn btn-sm btn-outline-secondary" type="button">
        <%= link_to "宿泊施設", admin_shops_accommodation_path, data: {"turbolinks" => false} %>
      </button>

       <button class="btn btn-sm btn-outline-secondary" type="button">
        <%= link_to "ショッピングモール", admin_shops_shopping_mall_path, data: {"turbolinks" => false} %>
      </button>

       <button class="btn btn-sm btn-outline-secondary" type="button">
        <%= link_to "アクティビティ", admin_shops_activity_path, data: {"turbolinks" => false} %>
       </button>

        <button class="btn btn-sm btn-outline-secondary" type="button">
        <%= link_to "ユーザー一覧", admin_users_path %>
        </button>

        <%= link_to shops_accommodation_path, data: {"turbolinks" => false} do %>
        <%= image_tag("inugo_logo.png", size: '150x120') %>
        <% end %>


        <button class="btn btn-sm btn-outline-secondary" type="button">
        <%= link_to "問い合わせ一覧", admin_inquiries_path %>
        </button>

       <%= button_to "ログアウト", destroy_admin_session_path, method: :delete %>

    <% else %>

      <div class="app-logo-wrapper d-flex justify-content-between mb-0">
        <div class="d-flex flex-row">

          <div class="mt-5 bd-highlight">
            <%= link_to shops_accommodation_path, class: "btn btn-sm nav-link text-dark btn-outline-primary " , data: {"turbolinks" => false} do %>
             <h4>
                宿泊施設
             </h4>
            <% end %>
          </div>

          <div class="mt-5 bd-highlight ">
            <%= link_to shops_shopping_mall_path, class: "btn btn-sm nav-link text-dark btn-outline-warning", data: {"turbolinks" => false} do %>
             <h4>
              ショッピングモール
             </h4>
            <% end %>
          </div>

          <div class="mt-5 bd-highlight ">
            <%= link_to shops_activity_path, class: "btn btn-sm nav-link text-dark btn-outline-success", data: {"turbolinks" => false} do %>
             <h4>
              アクティビティ
             </h4>
            <% end %>
          </div>

         </div>
       </div>

       <div class="app-logo">
       <!--CSSで真ん中にアブソルートする-->
         <%= link_to shops_accommodation_path, data: {"turbolinks" => false} do %>
         <%= image_tag("inugo_logo.png", size: '160x130') %>
         <% end %>
       </div>

       <div class="d-flex flex-row">

        <div class="mt-5 bd-highlight">
         <%= link_to new_user_registration_path, class: "btn btn-sm btn-outline-secondary" do %>
           <h4>
            新規登録
           </h4>
         <% end %>
        </div>

        <div class="mt-5 bd-highlight">
         <%= link_to new_user_session_path, class: "btn btn-sm btn-outline-secondary" do %>
          <h4>
           ログイン
          </h4>
         <% end %>
        </div>


      </div>

    <% end %>
    </nav>
    </div>
    <%= render 'layouts/flash_message' %>
    <%= yield %>
  </body>
</html>
